   <button class = "settings">Settings</button>
    <header>
        <div class = "userName"></div>
    </header>
    
    <div>
        <h3>About You</h3>
        <input type="text" class="inputUserinfo" placeholder="About You">
    </br>
        <button class = "save">Save</button>
    </div>
        <h4>Contact Sharing</h4>
        <input type="text" class="inputUserinfo" placeholder="Optional Share: Email">
        <input type="text" class="inputUserinfo" placeholder="Optional Share: Phone #">
    
    <h1>Current Posts</h1>
    <div class = "currentlyPosted">
    
    </div>
    <h1>Past Posts</h1>
    <div class = "pastPosts">
    
    </div>