<div id="post">
    <div id="topbar">
        <div id="votes">
            <div id="upvote">
                {{!-- uparrow --}}
            </div>
            <div id="downvote">
                {{!-- downarrow --}}
            </div>
        </div>
        <div id="title-username">
            <div id="title">

            </div>
            <div id="username">

            </div>
        </div>
    </div>
    <div id="description">
        
    </div>
    <div id="images">

    </div>
    <div id="comment-section">
        <input type="text" id="comment-input"/>
        <div id="comments">

        </div>
    </div>
</div>