    <button class="backTohome">backButton</button>
    <button onclick="myFunction()">Toggle dark mode</button>
    </br>
    <input id="currentPassword" type="text" class="inputUserinfo" placeholder="currentPassword">
    </br>
    <input id="newPassword" type="text" class="inputUserinfo" placeholder="newPassword">
    </br>
    <input id="confirmPassword" type="text" class="inputUserinfo" placeholder="confirmNewpassword">
    </br>
    <button class = "saveNewpassword">Save</button>

    <div>
    <h3>About You</h3>
    <input type="text" class="inputUserinfo" placeholder="About You">
    </br>
    <button class="save">Save</button>
    </div>
    <h4>Contact Sharing</h4>
    <input type="text" class="inputUserinfo" placeholder="Optional Share: Email">
    <input type="text" class="inputUserinfo" placeholder="Optional Share: Phone #">

    <script src="/assets/js/updatePassword.js"></script>

     <script src="/assets/js/profile.js"></script>
