    <button class="backTohome">backButton</button>
    <button onclick="myFunction()">Toggle dark mode</button>
    </br>
    <input type="text" class="inputUserinfo" placeholder="currentPassword">
    </br>
    <input type="text" class="inputUserinfo" placeholder="newPassword">
    </br>
    <input type="text" class="inputUserinfo" placeholder="confirmNewpassword">
    </br>
    <button class = "saveNewpassword">Save</button>
