    <button class="backTohome">backButton</button>
    <button onclick="myFunction()">Toggle dark mode</button>
    </br>
    <input id="currentPassword" type="text" class="inputUserinfo" placeholder="currentPassword">
    </br>
    <input id="newPassword" type="text" class="inputUserinfo" placeholder="newPassword">
    </br>
    <input id="confirmPassword" type="text" class="inputUserinfo" placeholder="confirmNewpassword">
    </br>
    <button class = "saveNewpassword">Save</button>

    <script src="/assets/js/updatePassword.js"></script>
