<div class="align-items-center d-flex d-lg-grid ">
    <div class="row d-flex justify-content-center">
        {{!-- logo --}}
        <div class="col-12 d-flex justify-content-center">
            <img src="/assets/images/OffloadLogo.png" alt="Offload">
        </div>
        {{!-- Form --}}
        <div class="col-12 d-flex justify-content-center">
            <form>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Please enter your username</div>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput">
                </div>
                <button type="submit" class="btn btn-primary" id="signinBtn">Sign Up</button>
            </form>
        </div>
        <div class="col-12 d-flex justify-content-center"></div>
    </div>

    {{!-- bottom bar w/ home,user,post --}}
    <nav class="navbar fixed-bottom bg-light">
        <div class="bg-light fixed-bottom justify-content-center navbar">
            {{!-- homepage --}}
            <a class="m-2" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                </svg>
            </a>
        </div>
    </nav>
</div>


{{!-- js --}}
<script src="/assets/js/signup.js"></script>