<section class="hero is-danger is-fullheight">
    <button class="button is-danger is-large"><i class="fa-solid fa-house "></i></button>
    <div class="hero-body">
        <div class="">
            <div class="container">
                <div class="columns has-text-centered m-3 p-3 is-v-centered">
                    <div class="columns">
                        <div class="column is-centered">
                            <img src="Untitled_Artwork.png" alt="Offload">
                            <p class="has-text-weight-bold">A Place To Get Rid Of Your Junk!</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <!-- <label class="label has-text-light has-text-weight-bold">Sign Up</label> -->
                                    <!-- {{!-- got rid of emailhelp ID may need to relink --}} -->
                                    <input type="text" id="signIninput" aria-describedby="signIninput"
                                        placeholder="Username">
                                </div>
                                <p class="help">Enter User Name!</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="password" id="signinPasswordInput" placeholder="Password">
                                </div>
                                <p class="help" id="passwordHelp">Enter your password! </br> 8-64
                                    characters
                            </div>
                            <input type="password" id="confirmPasswordInput" placeholder="Confirm Password">
                            <p class="help" id="passwordHelp">Please Re-Enter Password</p>

                            <div class="column pt-2">
                                <input class="button is-white is-small" type="submit" value="Sign Up">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- js --}}
<script src="/assets/js/signin.js"></script>