<div class="row bg-warning d-flex justify-content-center">
    {{!-- logo --}}
    <div class="col-12 d-flex justify-content-center">
        <img src="/assets/images/OffloadLogo.png" alt="Offload">
    </div>
    {{!-- Form --}}
    <div class="col-12 d-flex justify-content-center">
        <form>
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Please enter your username</div>
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>
        <button type="submit" class="btn btn-primary" id="signinBtn">Sign Un</button>
        </form>
    </div>
    <div class="col-12 d-flex justify-content-center"></div>
</div>

{{!-- js --}}
<script src="/assets/js/signin.js"></script>