<div class="col-12 mt-15 d-flex justify-content-center align-items-center">
  <form>
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Please enter your username</div>
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">email</label>
      <input type="text" class="form-control" id="emailInput" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Please enter your email</div>
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" id="signUpBtn">Sign Up</button>
      <button type="submit" class="btn btn-primary bg-secondary" id="backBtn">Back</button>
    </div>
  </form>
</div>