
<div class="align-items-center d-flex d-lg-grid min-vh-100">
    <div class="row d-flex justify-content-center">
        {{!-- logo --}}
        <div class="col-12 d-flex justify-content-center p-5">

            <img src="/assets/images/OffloadLogo.png" alt="Offload">
        </div>
        {{!-- form --}}
        <div class="col-12 d-flex justify-content-center">
            <form>
                <div class="mb-3">
                    <label for="signinUsernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="signinUsernameInput" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-black">Please enter your username</div>
                </div>
                <div class="mb-3">
                    <label for="signinPasswordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signinPasswordInput">
                </div>
                <button type="submit" class="btn btn-primary" id="signinBtn">Sign In</button>
            </form>
        </div>
        <div class="col-12 d-flex justify-content-center"></div>
    </div>
</div>

{{!-- js --}}
<script src="/assets/js/signin.js"></script>