 <section class="hero is-danger is-fullheight">
        <button class="button is-danger is-large"><i class="fa-solid fa-house "></i></button>
        <div class="hero-body">
            <div class="">
                <div class="container">
                    <div class="columns has-text-centered is-v-centered">
                        <div class="columns">
                            <div class="column">
                                <img src="Untitled_Artwork.png" alt="Offload">
                                <p class="has-text-weight-bold">A Place To Get Rid Of Your Junk!</p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <div class="control">
                                        {{!-- <label class="label has-text-light has-text-weight-bold">Sign In!</label> --}}
                                        <input type="text" id="signinUsernameInput" aria-describedby="Enter Username"
                                            placeholder="Username">
                                            <p class="help" id="enterUsername">Please enter your username</p>
                                    </div>

                                    <div class="control">
                                        <input type="password" id="signinPasswordInput" placeholder="Enter Password">
                                        <p class="help" id="passwordHelp">Please Enter your password</p>
                                        <p class="help is-underlined">Forgot Password?</p>
                                    </div>
                                </div>

                                <p class="help is-underlined">Dont Have An Account? Click Here!</p>

                                <span class="column pt-2">
                                <input class="button is-white is-small" type="submit" value="Sign In" id="signinBtn">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{{!-- js --}}
<script src="/assets/js/signin.js"></script>