<button class="settings">Settings</button>
<header>
    <div class="userName"></div>
</header>

<div>
    <h3>About You</h3>
    <input type="text" class="inputUserinfo" placeholder="About You">
    </br>
    <button class="save">Save</button>
</div>
<h4>Contact Sharing</h4>
<input type="text" class="inputUserinfo" placeholder="Optional Share: Email">
<input type="text" class="inputUserinfo" placeholder="Optional Share: Phone #">

<h1>Active Posts</h1>
<div class="activePosts">
    <div class="card-group">
        <div class="card w-75 h-20">
            <div class="card-body">
                <h5 class="card-title text-success">Card title</h5>
                <p class="card-text text-success">This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>
</div>